.list_wrap {
  padding: 0;
  margin: 0;
}

.list_title {
  font-size: 16px;
}

.list_area {
  margin-top: 10px;
}

.list {
  padding: 0;
}

.item {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.item_title {
  font-size: 14px;
}

.item_content {
  font-size: 12px;
}

.pagination {
  text-align: center;
}